:root {
	--text-cl: #3c4043;
}

::selection {
	display: none;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0 1em;
	overflow: hidden;

	font-family: Arial, Helvetica, sans-serif;
	color: var(--text-cl);
	text-align: center;

	display: grid;
	place-content: center center;
	gap: 2rem;
}

.calendar {
	border-collapse: collapse;
	width: 40vw;
	aspect-ratio: 16/9;
}

.date,
.day {
	padding: 1em;
	text-align: center;
	vertical-align: middle;
}

.date{
	position: relative;
}

.date::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2.5em;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: #ddd;
	z-index: -1;
	opacity: 0;
	transition: .1s linear;
}

.current {
	color: #fff;
}

.current::before {
	opacity: 1;
	background-color: var(--text-cl);
}

.day {
	color: #70757a;
	text-transform: capitalize;
}

.clock {
	font-size: 4rem;
}

@media (min-width: 992px) {
	.date {
		cursor: pointer;
	}

	.date:hover::before {
		opacity: 1;
	}

	.current:hover::before {
		background-color: #222;
	}
}

@media (max-width: 992px) {
	.calendar {
		width: 70vw;
	}
}


@media (max-width: 400px) {
	:root {
		font-size: 13px;
	}
}
