:root {
	--text-cl: #3c4043;
}

textarea:focus {
	outline: none;
}

::selection {
	display: none;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0 1em;
	overflow: hidden;

	font-family: Arial, Helvetica, sans-serif;
	color: var(--text-cl);
	text-align: center;

	display: grid;
	place-content: center center;
	gap: 2rem;
}

.calendar {
	border-collapse: collapse;
	width: 40vw;
	aspect-ratio: 16/9;
}

.date,
.day {
	padding: 1em;
	text-align: center;
	vertical-align: middle;
}

.date{
	position: relative;
}

.date::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2.5em;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: #fff;
	z-index: -1;
	transition: .1s linear;
}

.date.active::before {
	border: 2px solid var(--text-cl);
}

.date.current {
	color: #fff;
}

.date.current::before {
	background-color: var(--text-cl);
}

.day {
	color: #70757a;
	text-transform: capitalize;
}

.clock {
	font-size: 4rem;
}

.note {
	color: inherit;
	font-family: cursive;
	border-radius: 0.8em;
	padding: 1em;
	border: none;
	position: absolute;
	resize: none;
	border: 2px solid var(--text-cl);
	min-height: 10em;
	min-width: 15em;
	font-size: 1.5em;
}

.note::selection {
	background-color: var(--text-cl);
	color: #fff;
}

@media (min-width: 992px) {
	.date {
		cursor: pointer;
	}

	.date:hover::before {
		background-color: #ddd;
	}

	.current:hover::before {
		background-color: #222;
	}
}

@media (max-width: 992px) {
	.calendar {
		width: 70vw;
	}
}


@media (max-width: 400px) {
	:root {
		font-size: 13px;
	}
}
